# Heap Sort

***

## Lists in Python

***

In [1]:
# Lists in Python are denoted by square bracket notation
L = [1, 2, 3, "Hello World!", None, True]

In [2]:
L

[1, 2, 3, 'Hello World!', None, True]

In [3]:
# Lists are zero indexed
L[4]

In [4]:
L[3]

'Hello World!'

In [5]:
L[5]

True

In [6]:
# Create lists with the list() function
list({1, 2, 3, 3})

[1, 2, 3]

In [7]:
# Using negative indexes
L[-1]

True

In [8]:
# Third last element
L[-3]

'Hello World!'

In [9]:
# In-built functions for creating iterables
list(range(1, 20, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [10]:
# range function without third parameter (default stepping 1)
list(range(1, 20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [11]:
# range function with only one parameter (default start value is 0)
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
L = list(range(20))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [13]:
# List slicing - startIndex, endIndex, steps
L[1:10:2]

[1, 3, 5, 7, 9]

In [14]:
# If only two parameters are supplied - default steps = 1
L[5:10]

[5, 6, 7, 8, 9]

In [15]:
# Quick way to cycle the list to the left - Note: 0 is now at the end of the list
L[1:] + L[:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0]

In [16]:
# Cycle using varible - moves by 5 places to the left (0-4 now at end of list)
i = 5
L[i:] + L[:i]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2, 3, 4]

In [17]:
# Tuples - immutable, values cannot be changed
# Can't assign new value for any element - T[2] = 100 would result in an error
T = (1, 2, 3, 4)

In [18]:
# Reading tuples
T[0]

1

In [19]:
# Tuple slicing
T[2:]

(3, 4)

In [20]:
# Tuples are created with commas as opposed to round brackets as above
T = 1, 2, 3, 4, 5
T

(1, 2, 3, 4, 5)

In [21]:
# Hash function - Cannot hash lists
hash(T)

-5659871693760987716

In [22]:
# You can use tuples for assignment
a, b = 3, 4

In [23]:
a

3

In [24]:
b

4

In [25]:
# Tuples can be used to swap around values
# Values on the right are assigned to variables on the left
a, b = b, a

In [26]:
a

4

In [27]:
b

3

In [28]:
# List of integers
L = list(range(10))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
# List comprehension
[i**3 for i in L]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [30]:
# Can have conditions in list comprehension expressions cubes of only even numbers
[i**3 for i in L if i % 2 == 0]

[0, 8, 64, 216, 512]

In [31]:
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
# Really quick way to reverse a list
L[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

<br>

## Bubble Sort

***

In [33]:
# Importing a module from the standard library
import random

In [34]:
# Create a list of integers
L = list(range(1, 11))
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
# Shuffle the list - The shuffle function changes the list itself
# More of a pass by reference than a pass by value when shuffling
random.shuffle(L)

In [36]:
# List shuffled
L

[6, 2, 10, 3, 1, 9, 5, 4, 7, 8]

In [37]:
# Bubble sort - take one away from the length of the list to ensure no out of range errors
# Even though you have 10 elements you are only doing 9 comparisons
for i in range(len(L) - 1):
    # Compare the ith element with the (i+1)th element
    if L[i] > L[i + 1]:
        # Swap the elements
        L[i], L[i + 1] = L[i + 1], L[i]

In [38]:
L

[2, 6, 3, 1, 9, 5, 4, 7, 8, 10]

In [39]:
# Keep track of number of comparisons
no_comparisons = 0

# Complete bubble sort - bubble every (biggest) element up 
for j in range(len(L) - 1):
    for i in range(len(L) - 1):
        # Compare all elements that are side by side
        if L[i] > L[i + 1]:
            # Swap the elements
            L[i], L[i + 1] = L[i + 1], L[i]
        # Add a comparison
        no_comparisons = no_comparisons + 1

In [40]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
no_comparisons

81

In [42]:
# Optimisation of bubble sort by keeping track of swaps
no_comparisons = 0

# Complete bubble sort - bubble every (biggest) element up 
for j in range(len(L) - 1):
    # KEEP TRACK OF SWAPS
    swapped = False
    for i in range(len(L) - 1):
        # Compare all elements that are side by side
        if L[i] > L[i + 1]:
            # Swap the elements
            L[i], L[i + 1] = L[i + 1], L[i]
            swapped = true
        # Add a comparison
        no_comparisons = no_comparisons + 1
    if not swapped:
        break

In [43]:
# Bubble sort as a function.
def bubble_sort(L):
    # Keep track of number of comparisons.
    no_comparisons = 0

    # Bubble every (biggest) element up.
    for j in range(len(L) - 1):
        # Keep track of any swaps.
        swapped = False
        # Compare all elements that are side by side.
        for i in range(len(L) - 1 - j):
            # Compare the ith element with the (i+1)th.
            if L[i] > L[i+1]:
                # Swap the elements.
                L[i], L[i+1] = L[i+1], L[i]
                # Keep track of the swap.
                swapped = True
            # Add a comparison.
            no_comparisons = no_comparisons + 1
        # Quit if we didn't make any swaps.
        if not swapped:
            break
    # Return the number of comparisons made.
    return no_comparisons

In [44]:
# Create a list.
L = list(range(1, 11))

# Shuffle it.
random.shuffle(L)

# Look at it.
L

[1, 6, 9, 4, 2, 8, 5, 10, 7, 3]

In [45]:
bubble_sort(L)

44

In [46]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
# Once the list is sorted - bubble sort is O(n)
bubble_sort(L)

9

In [48]:
# Worst case for bubble sort - Still O(n^2)
bubble_sort(L[::-1])

45

<br>

## Heap Sort

***

#### Transplanted from Wikipedia

https://en.m.wikipedia.org/wiki/Heapsort

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Max-Heap-new.svg/854px-Max-Heap-new.svg.png" width="300"></img>

In [49]:
def siftDown(L, parent, end): 
    """L[parent:end+1] should almost be a max heap. SiftDown repairs it so that it is one"""
    # Keep track of the number of comparisons
    no_comparisons = 0
    
    # While the root has at least one child - is a parent
    while 2 * parent + 1 <= end:
        # Index of left and right child of parent
        lchild = 2 * parent + 1
        rchild = 2 * parent + 2
        
        # Keeps track of child to swap with
        swap = parent
        
        # If the parent smaller than the left child
        if L[swap] < L[lchild]:
            # Then swap is set to index of the left child
            swap = lchild
            # Increment number of comparisons here
            no_comparisons = no_comparisons + 1
        # Check for right child and check if it is smaller
        if rchild <= end and L[swap] < L[rchild]:
            # swap is then set to index of the right child
            swap = rchild
            # Increment number of comparisons here
            no_comparisons = no_comparisons + 1
        # We have a max heap if the parent is bigger than the children
        if swap == parent:
            # Parent holds largest element. Since we assume the heaps rooted at the children are valid, this means that we are done
            break
        else:
            # Swap the parent with the bigger child
            L[parent], L[swap] = L[swap], L[parent]
            
            # Set parent to bigger childs index
            parent = swap # repeat to continue sifting down the child now
    
    # Return the number of comparisons
    return no_comparisons

In [50]:
def heapsort(L):
    """Sorts L in-place using heap sort. Build heap L so that largest value is at the root (Makes L a max heap)"""
    # Keep track of the number of comparisons
    no_comparisons = 0
    
    # Index of last element
    last_element = len(L) - 1
    
    # Find the last parent - Double forward slash is floored division
    last_parent = (last_element - 1) // 2
    
    # Loop backwards through all parents
    for parent in range(last_parent, -1, -1):
        # Sift down the node at index 'start' to the proper place so that all nodes below the start index are in heap order
        no_comparisons = no_comparisons + siftDown(L, parent, last_element)
    
    # Segregate the list L into two parts:
    #   1. L[:end] is a max heap
    #   2. Each element beyond end is greater than everything before it
    # While there are still elements in the heap
    for end in range(last_element, 0, -1):        
        # Swap the element at index L[0] with the element at index[end].
        L[0], L[end] = L[end], L[0]
        
        # The swap ruined the heap property, so restore it
        no_comparisons = no_comparisons + siftDown(L, 0, end - 1)
        
    # Return the number of comparisons
    return no_comparisons

In [51]:
# Dividing Integers results in float return
8 / 2

4.0

In [52]:
# If you want an integer back then use '//'
# NOTE: Dividing 8 // 3 will result in value of 2
8 // 2

4

In [53]:
# List of numbers from the diagram above
L = [19, 100, 36, 25, 3, 17, 7, 1, 2]
L

[19, 100, 36, 25, 3, 17, 7, 1, 2]

In [54]:
# Show heapsort working
heapsort(L)
L

[1, 2, 3, 7, 17, 19, 25, 36, 100]

## Comparing Algorithms

***

In [55]:
# Perform heap sort, show number of comparisons for L
L = [19, 100, 36, 25, 3, 17, 7, 1, 2]

# Pass L to heapsort
no_comparison = heapsort(L)

# Print L and no_comparisons in tuple
L, no_comparison

([1, 2, 3, 7, 17, 19, 25, 36, 100], 12)

In [56]:
# Bubble sort comparisons
L = [19, 100, 36, 25, 3, 17, 7, 1, 2]
no_comparison = bubble_sort(L)
L, no_comparison

([1, 2, 3, 7, 17, 19, 25, 36, 100], 36)

In [57]:
# Testing with empty list
L = []
heapsort(L)
L

[]

In [58]:
# Testing with 1 element
L = [5]
heapsort(L)
L

[5]

In [59]:
# Testing with 2 elements
L = [9, 1]
heapsort(L)
L

[1, 9]

### Itertools - cool permutations with Python

***

In [60]:
# A module full of combinatorial functions
import itertools

# Length of example list
n = 5

# Shows all the combinations in a list of values from 1 to n
for perm in itertools.permutations(range(n)):
    L = list(perm)
    bubb_comp = bubble_sort(L)
    L = list(perm)
    heap_comp = heapsort(L)
    #print(perm, '->', L)
    print(f'{str(perm)[1:-1]} | {bubb_comp} | {heap_comp}')

0, 1, 2, 3, 4 | 4 | 8
0, 1, 2, 4, 3 | 7 | 9
0, 1, 3, 2, 4 | 7 | 7
0, 1, 3, 4, 2 | 9 | 8
0, 1, 4, 2, 3 | 7 | 8
0, 1, 4, 3, 2 | 9 | 6
0, 2, 1, 3, 4 | 7 | 6
0, 2, 1, 4, 3 | 7 | 7
0, 2, 3, 1, 4 | 9 | 8
0, 2, 3, 4, 1 | 10 | 6
0, 2, 4, 1, 3 | 9 | 6
0, 2, 4, 3, 1 | 10 | 7
0, 3, 1, 2, 4 | 7 | 7
0, 3, 1, 4, 2 | 9 | 5
0, 3, 2, 1, 4 | 9 | 9
0, 3, 2, 4, 1 | 10 | 7
0, 3, 4, 1, 2 | 9 | 5
0, 3, 4, 2, 1 | 10 | 6
0, 4, 1, 2, 3 | 7 | 6
0, 4, 1, 3, 2 | 9 | 4
0, 4, 2, 1, 3 | 9 | 8
0, 4, 2, 3, 1 | 10 | 6
0, 4, 3, 1, 2 | 9 | 7
0, 4, 3, 2, 1 | 10 | 5
1, 0, 2, 3, 4 | 7 | 9
1, 0, 2, 4, 3 | 7 | 7
1, 0, 3, 2, 4 | 7 | 8
1, 0, 3, 4, 2 | 9 | 6
1, 0, 4, 2, 3 | 7 | 7
1, 0, 4, 3, 2 | 9 | 5
1, 2, 0, 3, 4 | 9 | 7
1, 2, 0, 4, 3 | 9 | 8
1, 2, 3, 0, 4 | 10 | 6
1, 2, 3, 4, 0 | 10 | 7
1, 2, 4, 0, 3 | 10 | 5
1, 2, 4, 3, 0 | 10 | 6
1, 3, 0, 2, 4 | 9 | 8
1, 3, 0, 4, 2 | 9 | 6
1, 3, 2, 0, 4 | 10 | 7
1, 3, 2, 4, 0 | 10 | 8
1, 3, 4, 0, 2 | 10 | 4
1, 3, 4, 2, 0 | 10 | 5
1, 4, 0, 2, 3 | 9 | 7
1, 4, 0, 3, 2 | 9 | 5
1, 4, 2, 0, 3 | 10 | 6
1, 4, 2, 3, 0 | 10 | 7
1, 4, 3, 0, 2 | 10 | 5
1, 4, 3, 2, 0 | 10 | 6
2, 0, 1, 3, 4 | 7 | 7
2, 0, 1, 4, 3 | 7 | 5
2, 0, 3, 1, 4 | 9 | 7
2, 0, 3, 4, 1 | 10 | 5
2, 0, 4, 1, 3 | 9 | 9
2, 0, 4, 3, 1 | 10 | 7
2, 1, 0, 3, 4 | 9 | 8
2, 1, 0, 4, 3 | 9 | 6
2, 1, 3, 0, 4 | 10 | 5
2, 1, 3, 4, 0 | 10 | 6
2, 1, 4, 0, 3 | 10 | 7
2, 1, 4, 3, 0 | 10 | 8
2, 3, 0, 1, 4 | 9 | 6
2, 3, 0, 4, 1 | 10 | 7
2, 3, 1, 0, 4 | 10 | 5
2, 3, 1, 4, 0 | 10 | 6
2, 3, 4, 0, 1 | 10 | 6
2, 3, 4, 1, 0 | 10 | 7
2, 4, 0, 1, 3 | 9 | 5
2, 4, 0, 3, 1 | 10 | 6
2, 4, 1, 0, 3 | 10 | 4
2, 4, 1, 3, 0 | 10 | 5
2, 4, 3, 0, 1 | 10 | 4
2, 4, 3, 1, 0 | 10 | 5
3, 0, 1, 2, 4 | 7 | 6
3, 0, 1, 4, 2 | 9 | 4
3, 0, 2, 1, 4 | 9 | 8
3, 0, 2, 4, 1 | 10 | 6
3, 0, 4, 1, 2 | 9 | 7
3, 0, 4, 2, 1 | 10 | 5
3, 1, 0, 2, 4 | 9 | 7
3, 1, 0, 4, 2 | 9 | 5
3, 1, 2, 0, 4 | 10 | 6
3, 1, 2, 4, 0 | 10 | 7
3, 1, 4, 0, 2 | 10 | 5
3, 1, 4, 2, 0 | 10 | 6
3, 2, 0, 1, 4 | 9 | 5
3, 2, 0, 4, 1 | 10 | 6
3, 2, 1, 0, 4 | 10 | 4
3, 2, 1, 4, 0 | 10 | 5
3, 2, 4, 0, 1 | 10 | 4
3, 2, 4, 1, 0 | 10 | 5
3, 4, 0, 1, 2 | 9 | 4
3, 4, 0, 2, 1 | 10 | 5
3, 4, 1, 0, 2 | 10 | 3
3, 4, 1, 2, 0 | 10 | 4
3, 4, 2, 0, 1 | 10 | 5
3, 4, 2, 1, 0 | 10 | 6
4, 0, 1, 2, 3 | 7 | 5
4, 0, 1, 3, 2 | 9 | 3
4, 0, 2, 1, 3 | 9 | 7
4, 0, 2, 3, 1 | 10 | 5
4, 0, 3, 1, 2 | 9 | 6
4, 0, 3, 2, 1 | 10 | 4
4, 1, 0, 2, 3 | 9 | 6
4, 1, 0, 3, 2 | 9 | 4
4, 1, 2, 0, 3 | 10 | 5
4, 1, 2, 3, 0 | 10 | 6
4, 1, 3, 0, 2 | 10 | 4
4, 1, 3, 2, 0 | 10 | 5
4, 2, 0, 1, 3 | 9 | 4
4, 2, 0, 3, 1 | 10 | 5
4, 2, 1, 0, 3 | 10 | 3
4, 2, 1, 3, 0 | 10 | 4
4, 2, 3, 0, 1 | 10 | 3
4, 2, 3, 1, 0 | 10 | 4
4, 3, 0, 1, 2 | 9 | 3
4, 3, 0, 2, 1 | 10 | 4
4, 3, 1, 0, 2 | 10 | 2
4, 3, 1, 2, 0 | 10 | 3
4, 3, 2, 0, 1 | 10 | 4
4, 3, 2, 1, 0 | 10 | 5

Using pandas:

In [61]:
# Like excel for Python
import pandas as pd

In [62]:
# Length of example list
n = 5

results = [[str(perm)[1:-1], bubble_sort(list(perm)), heapsort(list(perm))] for perm in itertools.permutations(range(n))]

In [63]:
# Look at the results
results

[['0, 1, 2, 3, 4', 4, 8],
 ['0, 1, 2, 4, 3', 7, 9],
 ['0, 1, 3, 2, 4', 7, 7],
 ['0, 1, 3, 4, 2', 9, 8],
 ['0, 1, 4, 2, 3', 7, 8],
 ['0, 1, 4, 3, 2', 9, 6],
 ['0, 2, 1, 3, 4', 7, 6],
 ['0, 2, 1, 4, 3', 7, 7],
 ['0, 2, 3, 1, 4', 9, 8],
 ['0, 2, 3, 4, 1', 10, 6],
 ['0, 2, 4, 1, 3', 9, 6],
 ['0, 2, 4, 3, 1', 10, 7],
 ['0, 3, 1, 2, 4', 7, 7],
 ['0, 3, 1, 4, 2', 9, 5],
 ['0, 3, 2, 1, 4', 9, 9],
 ['0, 3, 2, 4, 1', 10, 7],
 ['0, 3, 4, 1, 2', 9, 5],
 ['0, 3, 4, 2, 1', 10, 6],
 ['0, 4, 1, 2, 3', 7, 6],
 ['0, 4, 1, 3, 2', 9, 4],
 ['0, 4, 2, 1, 3', 9, 8],
 ['0, 4, 2, 3, 1', 10, 6],
 ['0, 4, 3, 1, 2', 9, 7],
 ['0, 4, 3, 2, 1', 10, 5],
 ['1, 0, 2, 3, 4', 7, 9],
 ['1, 0, 2, 4, 3', 7, 7],
 ['1, 0, 3, 2, 4', 7, 8],
 ['1, 0, 3, 4, 2', 9, 6],
 ['1, 0, 4, 2, 3', 7, 7],
 ['1, 0, 4, 3, 2', 9, 5],
 ['1, 2, 0, 3, 4', 9, 7],
 ['1, 2, 0, 4, 3', 9, 8],
 ['1, 2, 3, 0, 4', 10, 6],
 ['1, 2, 3, 4, 0', 10, 7],
 ['1, 2, 4, 0, 3', 10, 5],
 ['1, 2, 4, 3, 0', 10, 6],
 ['1, 3, 0, 2, 4', 9, 8],
 ['1, 3, 0, 4, 2', 9, 6],
 ['1, 3, 2, 0, 4', 10, 7],
 ['1, 3, 2, 4, 0', 10, 8],
 ['1, 3, 4, 0, 2', 10, 4],
 ['1, 3, 4, 2, 0', 10, 5],
 ['1, 4, 0, 2, 3', 9, 7],
 ['1, 4, 0, 3, 2', 9, 5],
 ['1, 4, 2, 0, 3', 10, 6],
 ['1, 4, 2, 3, 0', 10, 7],
 ['1, 4, 3, 0, 2', 10, 5],
 ['1, 4, 3, 2, 0', 10, 6],
 ['2, 0, 1, 3, 4', 7, 7],
 ['2, 0, 1, 4, 3', 7, 5],
 ['2, 0, 3, 1, 4', 9, 7],
 ['2, 0, 3, 4, 1', 10, 5],
 ['2, 0, 4, 1, 3', 9, 9],
 ['2, 0, 4, 3, 1', 10, 7],
 ['2, 1, 0, 3, 4', 9, 8],
 ['2, 1, 0, 4, 3', 9, 6],
 ['2, 1, 3, 0, 4', 10, 5],
 ['2, 1, 3, 4, 0', 10, 6],
 ['2, 1, 4, 0, 3', 10, 7],
 ['2, 1, 4, 3, 0', 10, 8],
 ['2, 3, 0, 1, 4', 9, 6],
 ['2, 3, 0, 4, 1', 10, 7],
 ['2, 3, 1, 0, 4', 10, 5],
 ['2, 3, 1, 4, 0', 10, 6],
 ['2, 3, 4, 0, 1', 10, 6],
 ['2, 3, 4, 1, 0', 10, 7],
 ['2, 4, 0, 1, 3', 9, 5],
 ['2, 4, 0, 3, 1', 10, 6],
 ['2, 4, 1, 0, 3', 10, 4],
 ['2, 4, 1, 3, 0', 10, 5],
 ['2, 4, 3, 0, 1', 10, 4],
 ['2, 4, 3, 1, 0', 10, 5],
 ['3, 0, 1, 2, 4', 7, 6],
 ['3, 0, 1, 4, 2', 9, 4],
 ['3, 0, 2, 1, 4', 9, 8],
 ['3, 0, 2, 4, 1', 10, 6],
 ['3, 0, 4, 1, 2', 9, 7],
 ['3, 0, 4, 2, 1', 10, 5],
 ['3, 1, 0, 2, 4', 9, 7],
 ['3, 1, 0, 4, 2', 9, 5],
 ['3, 1, 2, 0, 4', 10, 6],
 ['3, 1, 2, 4, 0', 10, 7],
 ['3, 1, 4, 0, 2', 10, 5],
 ['3, 1, 4, 2, 0', 10, 6],
 ['3, 2, 0, 1, 4', 9, 5],
 ['3, 2, 0, 4, 1', 10, 6],
 ['3, 2, 1, 0, 4', 10, 4],
 ['3, 2, 1, 4, 0', 10, 5],
 ['3, 2, 4, 0, 1', 10, 4],
 ['3, 2, 4, 1, 0', 10, 5],
 ['3, 4, 0, 1, 2', 9, 4],
 ['3, 4, 0, 2, 1', 10, 5],
 ['3, 4, 1, 0, 2', 10, 3],
 ['3, 4, 1, 2, 0', 10, 4],
 ['3, 4, 2, 0, 1', 10, 5],
 ['3, 4, 2, 1, 0', 10, 6],
 ['4, 0, 1, 2, 3', 7, 5],
 ['4, 0, 1, 3, 2', 9, 3],
 ['4, 0, 2, 1, 3', 9, 7],
 ['4, 0, 2, 3, 1', 10, 5],
 ['4, 0, 3, 1, 2', 9, 6],
 ['4, 0, 3, 2, 1', 10, 4],
 ['4, 1, 0, 2, 3', 9, 6],
 ['4, 1, 0, 3, 2', 9, 4],
 ['4, 1, 2, 0, 3', 10, 5],
 ['4, 1, 2, 3, 0', 10, 6],
 ['4, 1, 3, 0, 2', 10, 4],
 ['4, 1, 3, 2, 0', 10, 5],
 ['4, 2, 0, 1, 3', 9, 4],
 ['4, 2, 0, 3, 1', 10, 5],
 ['4, 2, 1, 0, 3', 10, 3],
 ['4, 2, 1, 3, 0', 10, 4],
 ['4, 2, 3, 0, 1', 10, 3],
 ['4, 2, 3, 1, 0', 10, 4],
 ['4, 3, 0, 1, 2', 9, 3],
 ['4, 3, 0, 2, 1', 10, 4],
 ['4, 3, 1, 0, 2', 10, 2],
 ['4, 3, 1, 2, 0', 10, 3],
 ['4, 3, 2, 0, 1', 10, 4],
 ['4, 3, 2, 1, 0', 10, 5]]

In [64]:
# Display dataframe using pandas
df = pd.DataFrame(results, columns=['List', 'Bubble', 'Heap'])
df

              List  Bubble  Heap
0    0, 1, 2, 3, 4       4     8
1    0, 1, 2, 4, 3       7     9
2    0, 1, 3, 2, 4       7     7
3    0, 1, 3, 4, 2       9     8
4    0, 1, 4, 2, 3       7     8
..             ...     ...   ...
115  4, 3, 0, 2, 1      10     4
116  4, 3, 1, 0, 2      10     2
117  4, 3, 1, 2, 0      10     3
118  4, 3, 2, 0, 1      10     4
119  4, 3, 2, 1, 0      10     5

[120 rows x 3 columns]

In [65]:
df.describe()

           Bubble        Heap
count  120.000000  120.000000
mean     9.258333    5.783333
std      1.096180    1.501726
min      4.000000    2.000000
25%      9.000000    5.000000
50%     10.000000    6.000000
75%     10.000000    7.000000
max     10.000000    9.000000

### Note: Passing variables to functions

***

In [66]:
# ints are passed by value
# Variable a set to 1
a = 1

# Function - b is a value
def change(b):
    #Change value of b
    b = 2
    
# a is passed by value
change(a)

# a has not changed
print(a)

1

In [67]:
# Lists are passed by reference
a = [1, 2, 3, 4]

# Function - a is a reference
def change(b):
    # Change an element
    b[2] = 100
    
# Pass a to change
change(a)

# a has changed
print(a)

[1, 2, 100, 4]

***

# End

***